# 遠端 AI API 設定
TEXT_BOT_API_URL=http://192.168.1.116:5000/text_bot_input
TEXT_BOT_API_URL_1=http://192.168.1.116:5000/free_memory

# 遠端資料庫 API 設定
PLACE_SEARCH_URL=http://192.168.1.118:5004/place_search

# 網關本機服務設定
GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=5000

# Redis 連線 (因為要給 Docker Compose 用，這裡改填 docker 內部服務名稱)
REDIS_URL=redis://redis-server:6379/0