# Python 編譯檔 ---
__pycache__/
*.py[cod]
*.class

# 虛擬環境  ---
myenv/
venv/
env/
.venv/

# 機敏設定檔  ---
.env
.flaskenv

# Log 紀錄檔---
*.log
logs/
experiment_logs/
app/logs/

# IDE 設定檔 
.vscode/
.idea/

# 作業系統產生的檔案
.DS_Store
Thumbs.db

# 阻止上傳目錄下所有的 JSON 檔案
*.json

